RECORDING_HUMANS/*
RECORDING_LEARNING/*
RECORDING_TESTING/*
TRIALS_2D/*
TRIALS_FULL/*
TRIALS_RETRAINED/*
.ipynb_checkpoints/*
simulation_experiments/DATA/*
simulation_experiments/DATA_SAVE/*
*__pycache__*
*.pyc